@import url("https://use.typekit.net/rbp0rhp.css");
/* font-family: "nunito-sans",sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: 'Open Sans', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap");
/* font-family: 'Assistant', sans-serif; */

#home-banner {
	background-image: url("../img/young-uber-driver-in-car-interior.jpg");
}

.linkTripsVZLA,
.nav-link,
.tripsVZLA {
	color: #b702f0 !important;
	font-weight: bold;
}
